<div id="todo-list" class="todo list">
  <ul>
    <li>
      <div id="todo-info" class="label todo category">カテゴリ</div>
      <div id="todo-info" class="label todo state">進捗</div>
      <div id="todo-title" class="label todo title">Todo</div>
      <div id="todo-body" class="label todo body">詳細</div>
      <div id="todo-button" class="label todo button"></div>
    </li>
    <li *ngFor="let todo of todoList " class="catColor{{convertToCategory(todo.categoryId).color}}">
      <div id="todo-category-{{todo.id}}" class="todo category">
        {{convertToCategory(todo.categoryId).name}}
      </div>
      <div id="todo-state-{{todo.id}}" class="todo state">
        {{convertToState(todo.state.toString())}}
      </div>

      <div id="todo-title-{{todo.id}}" class="todo title">{{todo.title}}</div>
      <div id="todo-body-{{todo.id}}" class="todo body">{{todo.body}}</div>
      <div id="todo-button-{{todo.id}}" class="todo button">
<!--        <label id="todo-edit-{{todo.id}}" class="btn" onclick="{{onClickUpdate(todo.id)}}">編集</label>-->
        <input id="todo-edit-{{todo.id}}" class="btn" type="button" value="編集" (click)="onClickUpdate(todo.id)"/>
        <input id="todo-delete-{{todo.id}}" class="btn" type="button" value="削除" (click)="onClickDelete(todo.id)"/>
      </div>
    </li>
  </ul>
</div>
