.category ul{
    display:flex;
    padding:10px;
}
.category li{
    padding:10px;
    margin: 5px;
}

.category li.catColor1 {
    background-color: var(--category1-color) ;
}

.category li.catColor2 {
    background-color: var(--category2-color) ;
}

.category li.catColor3 {
    background-color: var(--category3-color) ;
}

/** カテゴリカラー定義 **/
:root {
    /*color指定 1*/
    --category1-color: lightblue;

    /*color指定 2*/
    --category2-color: lightpink;

    /*color指定 3*/
    --category3-color: lightgreen;
}
