.todo li{
    display:flex;
}



.todo div{
    padding:2px;
    height: 36px;
    line-height: 40px;
}

.todo.status.label {
    font-size: 20px;
}

.todo.status {
    width: 25%;
    font-size: 12px;
}

.todo.title{
    width: 25%;
}
.todo.body{
    width: 45%;
}

.todo.button{
    width: 10%;
}

/** カラー **/
.todo li.catColor1 {
    background-color: var(--category1-color) ;
}

.todo li.catColor2 {
    background-color: var(--category2-color) ;
}

.todo li.catColor3 {
    background-color: var(--category3-color) ;
}