
.todo.list{
    font-size: 13px;
}
.todo li{
    display:flex;
}

.todo div{
    padding:2px;
    height: 36px;
    line-height: 40px;
}

.todo.category {
    width: 10%;
}
.todo.state {
    width: 10%;
}

.todo.title{
    width: 25%;
}
.todo.body{
    width: 45%;
}

.todo.button{
    width: 10%;
}


/** カラー **/
.todo li.catColor1 {
    background-color: var(--category1-color) ;
}

.todo li.catColor2 {
    background-color: var(--category2-color) ;
}

.todo li.catColor3 {
    background-color: var(--category3-color) ;
}

.todo li.catColor4 {
    background-color: var(--category4-color) ;
}

.todo li.catColor5 {
    background-color: var(--category5-color) ;
}