<ul>
  <li>
<!--    <app-todo-form></app-todo-form>-->
    <div id="todo-form" class="todo form">
      <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <input type="hidden" value="0" formControlName="id">
        <dl class=" " id="todo-category-input_field">
          <dt><label for="todo-category-input">カテゴリ</label></dt>
          <dd>
            <select id="todo-category-input" formControlName="categoryId">
              <option *ngFor="let category  of categoryList " [ngValue]="category.id.toString()">{{category.name}}</option>
            </select>
          </dd>
        </dl>
        <dl class=" " id="todo-title-input_field">
          <dt><label for="todo-title-input">タイトル</label></dt>
          <dd>
            <input type="text" id="todo-title-input" formControlName="title" size="64" placeholder="やること">
          </dd>
        </dl>
        <dl class=" " id="todo-body-input_field">
          <dt><label for="todo-body-input">本分</label></dt>
          <dd>
            <textarea id="todo-body-input" formControlName="body" rows="2" cols="100" placeholder="やってやれないこともない"></textarea>
          </dd>
        </dl>
        <dl class=" " id="todo-state-input_field">
          <dt><label for="todo-state-input">ステータス</label></dt>
          <dd>
            <select id="todo-state-input" formControlName="state" >
              <option *ngFor="let state of stateList" [ngValue]="state.code">{{state.name}}
              </option>
            </select>
          </dd>
        </dl>
        <button class="button" type="submit" class="submit-btn">追加/更新</button>
        <input id="todo-reset-form" class="submit-btn" type="button" value="取り消し" (click)="resetTodoForm()"/>
      </form>
    </div>
  </li>
  <li>
    <app-todo-list [categoryList]="categoryList" [stateList]="stateList" (event)="onClickUpdate($event)" (deleteEvent)="onClickDelete($event)"></app-todo-list>
  </li>
</ul>
