@*
 *
 * to do sample project
 *
 *@

@(vv: model.ViewValueHome)
@common.Default(vv){
   <ul>
    <li><a>カテゴリー 一覧</a></li>
     <div id="category-list" class="category list">
       <ul>
        <li>categor A</li>
        <li>categor B</li>
        <li>categor C</li>
       </ul>
     </div>
    <li><a>Todo 一覧</a></li>
     <div id="todo.css-list" class="todo list">
      <ul>
          <li>
              <div id="todo-title" class="todo title">Todo</div>
              <div id="todo-status" class="todo status">ステータス</div>
              <div id="todo-category" class="todo category">カテゴリ</div>
              <div id="todo-body" class="todo body">詳細</div>
          </li>
      @for(todo <- vv.todoList) {
           <li>
               <div id="todo-title" class="todo title">@todo.title</div>
               <div id="todo-status" class="todo status">TODO</div>
               <div id="todo-category" class="todo category">かてごり</div>
               <div id="todo-body" class="todo body">@todo.body</div>
           </li>
      }
      </ul>
     </div>
   </ul>
}
